//App
$background-color: linear-gradient(45deg, rgb(136, 148, 145) 10%, rgb(118, 48, 171) 83%);
$background-todo: linear-gradient(90deg, rgba(61, 40, 75, 0.03) 0%, rgba(61, 61, 73, 0.04) 100%);
$title-color: #fff;
$delete_icon-color: #cb0808;


//Button
$button-color:black;