@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400&family=Roboto:ital,wght@0,400;0,700;1,300&family=Yanone+Kaffeesatz:wght@200;300;400;500&display=swap');

$font_family-maim: 'Yanone Kaffeesatz', sans-serif;

$font-regular: 200;
$font-main: 500;


