@import './colors.modules';
@import './fonts.modules';

body {
  margin: 0;
  padding: 0;
}

.todo {
  margin-bottom: 1rem;


    &_completed span {
      text-decoration: line-through;
    }


    &_label {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      background: #f3f3f3;
      padding: 1rem;
    }

     &_i {
      z-index: 2;
    }
}

