.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: transparent;
  border: 2px solid black;
  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.delete-icon {
  margin-right: 5px;
  color: #cb0808;
}
