@import './colors.modules';

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: $title-color;
  background: transparent;
  border: 2px solid black;
  padding: 16px;
  border-radius: 5px;
  width: 90%;
}
.todo-row__text{
  cursor: pointer;
}

.todo-row__text:hover{
  color: black;
}


.delete-icon {
  margin-right: 5px;
  color: $delete_icon-color;
}
