* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
  'Lucida Sans', Arial, sans-serif;
}

body {
  background: linear-gradient(45deg, rgb(136, 148, 145) 10%, rgb(118, 48, 171) 83%);
}
.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 600px;
  background: linear-gradient(
          90deg,
          rgba(61, 40, 75, 0.03) 0%,
          rgba(61, 61, 73, 0.04) 100%
  );
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

h1 {
  margin: 32px 0;
  color: #fff;
  font-size: 24px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.2;
}







.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}




.icons {
  display: flex;
  align-items: center;
  font-size: 26px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #cb0808;
}

